body {
            font-size: 30px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-image: url(https://images4.alphacoders.com/136/1363457.jpeg);
            background-repeat: no-repeat;
            background-size: cover; 
            background-position: center;
        }
        

        nav {
           background-color: black;
           height: 100px;
           display: flex;
           justify-content: space-between;
           align-items: center;
           
        }

        main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 500px;
        }

        button {
            font-size: 20px;
            border: whitesmoke;
            border-radius: 20px;
            height: 75px;
            width: 200px;

        }

        .entrar {
            width: 100px;
            height: 50px;
            margin-right: 10px;
        }