body {
     background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    transition: 3s;
}

nav {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

aside{
    position:fixed;
    left:0;
    top:0;
    width:220px;
    height:100vh;
    padding:30px;
    display:flex;
    flex-direction:column;
    gap:20px;
}

main {
        margin-top: 0;
        margin-left: 200px;
        display: grid;
        grid-template-columns:repeat(12,1fr);
    }
button{
        margin: 5px;
        padding: 5px;
    }

input {
    border-radius: 10px;
    border: white;
}

