body {
     background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    transition: 3s;
}




nav {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

aside {
        width: 200px;
        height: calc(100vh - 100px);
        
        position: fixed;
    }

main {
        margin-top: 0;
        margin-left: 200px;
    }
button{
        margin: 5px;
        padding: 5px;
    }

input {
    border-radius: 10px;
    border: white;
}

