body{
    background:black;
    color:white;
    font-family:Arial;
    margin:0;
    transition:0.3s;
}

aside{
    position:fixed;
    left:0;
    top:0;
    width:220px;
    height:100vh;
    background:gray;
    padding:20px;
    transition:0.3s;
}


body.menu-fechado aside{
    transform: translateX(-220px);
}

nav{
    margin-left:220px;
    height:80px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:10px 20px;
    transition:0.3s;
}

main{
    margin-left:220px;
    padding:20px;
    transition:0.3s;
}

body.menu-fechado nav,
body.menu-fechado main{
    margin-left:0;
}

#resultado{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    justify-content:center;
}

.card{
    width:250px;
    background:#222;
    padding:10px;
    border-radius:10px;
    color:white;
}

.card img{
    width:100%;
    height:300px;
    object-fit:cover;
    border-radius:10px;
}

input{
    padding:8px;
    border-radius:10px;
    border:none;
}

.claro{
    background:white;
    color:black;
}

.claro .card{
    background:white;
    color:black;
    border:1px solid black;
}

.claro aside{
    background:#ddd;
}

a {
    color: orange;
    text-decoration: none;
}
