body{
    background:black;
    color:white;
    font-family:Arial;
    margin:0;
    transition:0.3s;
}

aside{
    position:fixed;
    left:0;
    top:0;
    width:220px;
    height:100vh;
    background:gray;
    padding:20px;
    transition:0.3s;
    display:flex;
    flex-direction:column;
    align-items:center;
    box-sizing:border-box;
}

aside h2{
    width:100%;
    text-align:center;
    margin-top:10px;
    margin-bottom:35px;
    font-size:34px;
    letter-spacing:2px;
    position:relative;
    transition:0.3s;
}

aside h2::after{
    content:"";
    display:block;
    width:80px;
    height:3px;
    margin:12px auto;
    border-radius:10px;
    background:currentColor;
}

aside a{
    width:100%;
}

aside .btn{
    border-radius:15px;
    height:55px;
    font-size:18px;
    transition:0.3s;
}

aside .btn:hover{
    transform:translateY(-2px);
}



body.menu-fechado aside{
    transform: translateX(-220px);
}

nav{
    margin-left:220px;
    height:80px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:10px 20px;
    transition:0.3s;
}

main{
    margin-left:220px;
    padding:20px;
    transition:0.3s;
}

body.menu-fechado nav,
body.menu-fechado main{
    margin-left:0;
}

#resultado{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    justify-content:center;
}

.card{
    width:250px;
    background:#222;
    padding:10px;
    border-radius:10px;
    color:white;
}

.card img{
    width:100%;
    height:300px;
    object-fit:cover;
    border-radius:10px;
}

input{
    padding:8px;
    border-radius:10px;
    border:none;
}

.claro{
    background:white;
    color:black;
}

.claro .card{
    background:white;
    color:black;
    border:1px solid black;
}

.claro aside{
    background:#ddd;
}

a {
    color: orange;
    text-decoration: none;
}

.controle{
height:70vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
font-family:'Orbitron', sans-serif;
font-size:100px;
animation:girar 6s infinite;
}

.controle p{
font-size:32px;
margin-top:20px;
letter-spacing:3px;
text-transform:uppercase;
}

@keyframes girar{

0%{
transform:
translateY(0)
rotate(0deg);
}

50%{
transform:
translateY(-15px)
rotate(8deg);
}

100%{
transform:
translateY(0)
rotate(0deg);
}

}